@import url("custom.css");

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

em {	text-decoration: underline;
	color: rgba(136,0,34,0.8);
}

#notebook_panel { /* main background */
    background: inherit;
    color: #f6f6f6;
}

div.cell { /* set cell width to about 80 chars */
    width: 900px;
}
div #notebook { /* centre the content */
    background: #fff; /* white background for content */
    width: 1000px;
    margin: auto;
    padding-left: 1em;
}
#notebook li { /* More space between bullet points */
margin-top:0.8em;
}
/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running {
    border: 3px solid #887DA3;
}
/* draw border around last active cells */
div.cell.selected {
	border: thin solid #5E68D2 !important;
}
/* Put a solid color box around each cell and its output, visually linking them together */
div.cell.code_cell {
    background-color: rgba(0,93,159,0.1); /*171,165,131,0.3,  159,115,0, 0.3*/
    border-radius: 10px; /* rounded borders */
    padding: 1em;
    margin-top: 1em;
    margin-left: 2.5em;
}
/*the width, font, and size of text in Markdown cells*/
div.text_cell_render{
    font-family: 'Arvo' sans-serif;
    line-height: 130%;
    font-size: 115%;
    width:800px;  /* Divider line */
    margin-left:auto;
    margin-right:auto;
}
/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 32pt;
    line-height: 100%;
    color: rgb(12,85,97);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}
.text_cell_render h2 {
    font-family: 'Philosopher', serif;
    font-weight: 700;
    font-size: 24pt;
    line-height: 100%;
    color: rgb(171,165,131);
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    display: block;
}    

.text_cell_render h3 {
    font-family: 'Philosopher', serif;
    margin-top:12px;
    margin-bottom: 3px;
    font-style: italic;
    color: rgb(95,92,72);
}

.text_cell_render h4 {
    font-family: 'Philosopher', serif;
}

.text_cell_render h5 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: grey;
    font-style: italic;
    margin-bottom: .1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h6 {
    font-family: 'PT Mono', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: grey;
    margin-bottom: 1px;
    margin-top: 1px;
}
/*CodeMirror (a webservice) for syntax highlighting of code*/
.CodeMirror{
        font-family: "PT Mono";
        font-size: 100%;
}

/*Tables*/
table.grid {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.grid th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.grid td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	text-align: center;
}

div.output_area .rendered_html table {
margin: 20px auto 0 auto;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e!important;
	background-color: #f9f2f4!important;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Latex*/
.MathJax_Display {
color: rgba(0,0,255,1);
padding: 10px;
}
/* Important to close style section in Jupyter notebook*/
</style>